@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 30px;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
$main_white: #fff;
$light_gray: #f3f4f6;
$main_black: #000;
$text_black: #242223;
$light_black: #969696;
$main_yellow: #febd2e;
$alt_yellow: #feb54e;
$main_shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background-color: $main_white;
}
::-webkit-scrollbar-thumb {
  background-color: $main_yellow;
  height: 300px;
}
@mixin centerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin centerAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin clearInput {
  border: none;
  background: none;
  outline: none;
}
@mixin blur {
  background: rgba(226, 226, 226, 0.5);
  backdrop-filter: blur(12px);
}
.get_start {
  height: 50px;
  width: 210px;
  cursor: pointer;
  color: $main_white;
  @include clearInput();
  @include space-between();
  background-color: $main_black;
  margin-bottom: 40px;
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 5px;
  font-size: 16px;
  &:hover {
    animation: moveForward 0.4s linear;
  }
  span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    @include centerFlex();
    background-color: $main_yellow;
    i {
      color: $main_black;
      font-size: 16px;
      font-weight: 600;
    }
  }
}
@keyframes moveForward {
  0% {
    padding-right: 40px;
  }
  100% {
    padding-right: 5px;
  }
}
